@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/reboot';

@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/grid';

@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/buttons';

@import '../node_modules/bootstrap/scss/utilities/display';
@import '../node_modules/bootstrap/scss/utilities/flex';
@import '../node_modules/bootstrap/scss/utilities/spacing';

$player_positions: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;
$highlightbackground: #00587c;
$highlighttextcolor: #ffffff;
$background: #ffb70b;
$textcolor: black;
$unhighlighttextcolor: #56576f;
$highlightdivheight: 40px;
$divheight: 36px;
$gutterHeight: 48px;

.widget {
    background-color: $highlightbackground;
    position: relative;
    float: right;
    width: 300px;
    & > div {
        &.gutter {
            transform: unset;
            position: unset;
            text-transform: uppercase;
            font-size: 1.5rem;
            width: 100%;
            p {
                margin: 0;
                text-align: center;
                width: 100%;
            }
        }
        position: absolute;
        width: 290px;
        transition: transform 0.7s, background-color 0.5s;
        left: 50%;
        transform: translate(-50%, 0);
        height: 40px;
        @each $position in $player_positions {
            &.player-#{$position} {
                transform: translate(-50%, $position * 40px);
                height: $divheight;
                color: $unhighlighttextcolor;
                &.highlight {
                    background-color: $highlightbackground;
                    color: $highlighttextcolor;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    height: $highlightdivheight;
                    .number {
                        display: none;
                    }
                }
            }
        }
        background-color: $background;
        color: $textcolor;
        font-weight: bold;
        padding: 5px;
        display: flex;
        flex-direction: row;
        & > div:first-child {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                height: 100%;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
        }
    }
}
